[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-bio = "*"
scikit-learn = "*"
feature-engine = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"
networkx = "*"
thesequencer = {git = "git+https://github.com/dalya/Sequencer#egg=theSequencer"}

[dev-packages]
build = "*"
wheel = "*"
pytest = "*"
twine = "*"

[requires]
python_version = "3.12"
